body {
    width:964px;
    margin:0 auto;
}
h1{
    text-align: center;
}
#datosLibro{
    width:260px;
    display: inline-block;
    vertical-align: top;
}
#descripcionLibro{
    width:700px;
    display: inline-block;
}

#descripcionLibro li{
    list-style: none;
    width: 190px;
    display: inline-block;
    margin:9px;
    vertical-align: top;
}