 body {
    width:80%;
    margin:0 auto;
}
h1{
    text-align: center;
}
#datosLibro{
    width:24%;
    display: inline-block;
    vertical-align: top;
}
#descripcionLibro{
    width:74%;
    display: inline-block;
}

#descripcionLibro li{
    list-style: none;
    width: 30%;
    display: inline-block;

    vertical-align: top;
}